
@media (-moz-os-version:windows-win7) {
    /* these colors look better in windows 7 because of the glass (and my wallpaper) */
    #main-window {
        --uc-main-color: rgb(10, 110, 200);
        --uc-main-color-light: rgb(40, 140, 230);

        --uc-tab-border-color: rgb(160, 160, 160);

        --uc-toolbar-background: rgb(245, 245, 245);
        --uc-inactive-tab-background: rgb(227, 228, 230);
    }
}
